<!DOCTYPE html>
<html lang="en-GB">
<head>
	<title><%= @page_title || 'Lord Bishops' %>
	</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<style>
				body {
					max-width: 80ch;
					padding:1.5ch;
					font-size: clamp( 1rem, 80vw, 1.2rem); 
					margin: auto;
						}
		 h1 {font-weight: normal;}
		 main {margin-bottom: 4rem;
		 line-height: 1.4;}
		 footer {line-height:1.4;}
				</style>
</head>
<body>
<header>

	
<%= content_tag( 'p', link_to( 'Lord bishops', home_url ) ) %>


</header>
<main> 
<%= content_tag( 'h1', @page_title || 'Lord Bishops' ) %>

<%= yield %>
</main> 

<footer>

<nav>
	<%= link_to( 'People', person_list_url ) %>
<br>
	<%= link_to( 'Incumbencies', lord_bishop_diocese_incumbency_list_url ) %>

			- 
	<%= link_to( 'Incumbency end reasons', lord_bishop_diocese_incumbency_end_reason_list_url ) %>
	<br>
	<%= link_to( 'Dioceses', lord_bishop_diocese_list_url ) %>
			- 
	<%= link_to( 'Translations', translation_list_url ) %>
		-
	<%= link_to( 'Churches', established_church_list_url ) %>
</nav>

	<p>
			This site includes information made available under the <a href='https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' rel='licence'>Open Parliament Licence</a>.
		</p>

</footer>
</body>
</html>
