<!DOCTYPE html>
<html lang="en-GB">
<head>
	<title><%= @page_title || 'Lord Bishops' %>
	</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<style>		body {font-family: system-ui;padding:1rem;font-size:1.2rem;max-width:44rem;margin:0.5rem auto;}
		h1, h2, h3, h4 {font-weight:normal;}
		th, td {text-align: left;vertical-align: top;padding: 0.75rem;font-weight:normal;margin:0;}
		tr:nth-child(even) {background-color: #f2f2f2;}
		td ul {list-style:none;margin:0;padding:0;}
		main {line-height:1.4;}
		footer {line-height:1.4;padding-top:2rem;}
	</style>
</head>
<body>
<header>

<!-- %= content_tag( 'span', link_to( 'People', person_list_url ) ) % -->
<nav>
	<%= link_to( 'People', person_list_url ) %>
			- 
	<%= link_to( 'Lord bishop dioceses', lord_bishop_diocese_list_url ) %>
			- 
	<%= link_to( 'Lord bishop diocese incumbencies', lord_bishop_diocese_incumbency_list_url ) %>
			- 
	<%= link_to( 'Translations', translation_list_url ) %>
			- 
	<%= link_to( 'Lord bishop diocese incumbency end reasons', lord_bishop_diocese_incumbency_end_reason_list_url ) %>
			- 
	<%= link_to( 'Established churches', established_church_list_url ) %>
</nav>

</header>
<main> 
<%= content_tag( 'h1', @page_title || 'Lord Bishops' ) %>

<%= yield %>
</main> 
<footer>
	<p>
			This site includes information made available at parliament.uk under the <a href='https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' rel='licence'>Open Parliament Licence</a>.
		</p>

</footer>
</body>
</html>
